<ion-view view-title="Contact">
  <ion-content>
    <!-- <ion-list> -->
    <div class="list">
      <a class="item item-avatar" href="https://github.com/SimoneGonzalez">
      <img class="avatar" src="http://www.gravatar.com/avatar/fb508471a69c0196e7a495efb7f53671"/> Simone Gonzalez </a>

      <a class="item item-avatar" href="https://github.com/ldougher06">
      <img class="avatar" src="http://www.gravatar.com/avatar/fa02b446ecd1e0af496d138eef0b7102"/> Logan Dougher
      </a>
      <a class="item item-avatar" href="https://github.com/katyjustiss">
      <img class="avatar" src="http://www.gravatar.com/avatar/b6ee322180642f319a494f46a742ac4a"/> Katy Justiss
      </a>
    </div>
    <!-- </ion-list> -->
  </ion-content>
</ion-view>


