<ion-view view-title="Playlist">
  <ion-content>
    <section>
      <h5>Type words here</h5>
      <textarea class="card user-search" rows="5" maxlength="500">hello world</textarea>
    </section>

    <section class="output item item-divider">
      <ul class="list">
        <li class="item item-thumbnail-left"><img src="" alt-="album art">song will be here</li>
        <li class="item item-thumbnail-left"><img src="">song will be here</li>
        <li class="item item-thumbnail-left"><img src="">song will be here</li>
      </ul>
    </section>
    <!-- <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list> -->
  </ion-content>
</ion-view>
