.avatar:hover {
  cursor: pointer;
  transform: rotate(30deg)
}

#search-form, .form-control {
    margin-bottom: 20px;
}

.cover {
    width: 300px;
    height: 300px;
    display: inline-block;
    background-size: cover;
}


